<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QL_SNAC_Connection"
             
			 
			 
			connectionString="Data Source=Nhat\SQLEXPRESS01;Initial Catalog=QL_SNAC;Integrated Security=True;Encrypt=False" />
			<!--
			
			connectionString="Data Source=Nhat\SQLEXPRESS01;Initial Catalog=QL_SNAC;Integrated Security=True;Encrypt=False" />
			
			   connectionString="Data Source=.;Initial Catalog=QL_SNAC;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
			 
			 connectionString="Data Source=NHAT\SQLEXPRESS;Initial Catalog=QL_SNAC;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
			
			-->
			 
	</connectionStrings>
</configuration>